<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style/crearTyE.css">
</head>
<body>
    <div class="tituloc">
        <h1>Crear Tareas y Evaluaciones</h1>
    </div>
    <div class="return">
        <a href="">Regresar al menu anterior</a>
    </div>
    <div class="nuevaTyE">
        <div class="tye">
            <h1 class="nombre">Titulo</h1>
            <input type="text" >
        </div>
        <div class="fecha">
            <h1 class="nombre">Fecha de Entrega</h1>
            <input type="text">
        </div>
        <div class="descrip">
            <label for="desc">Descripcion</label>
            <textarea name="desc" id=""></textarea>
        </div>
        <button>AÑADIR</button>
    </div>
</body>
</html>