<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style/cursos.css">
</head>
<body>
      <header>
        <img class="logo" src="./media/logito.png" alt="logito">
        <nav>
            <a href="./inicio.html">Inicio</a>
            <a href="./curso.html">Cursos</a>
            <a href="./tareas.html">Tareas y Evaluaciones</a>
            <a href="./progreso.html">Progreso Cursos</a>
        </nav>
        <div class="perfil">
            <img class="profile" src="./media/sol.png" alt="modos">
            <p>Stiven Martinez Villamizar</p>
            <img class="profile" src="./media/perfil.png" alt="iconoPerfil">
        </div>
    </header>
 <div class="contenido">
        <article class="divCursos">
            <div class="tituloCurso">
                <h1>Mis Cursos</h1>
                <P>JUEGOS DE VIDEO</P>
                <hr/>
            </div>
            <div class="cuadrosCursos">
                <div class="cardCursos">
                    <div class="cuadrito">
                        <h4>Desarrollo de Apps</h4>
                        <p>Dr. Juanito</p>
                        <hr />
                        <a href="./curso.html">IR AL CURSO</a>
                    </div>
                </div>
                <div class="cardCursos">
                    <div class="cuadrito">
                        <h4>Desarrollo de Apps</h4>
                        <p>Dr. Juanito</p>
                        <hr />
                        <a href="./curso.html">IR AL CURSO</a>
                    </div>
                </div>
                <div class="cardCursos">
                    <div class="cuadrito">
                        <h4>Desarrollo de Apps</h4>
                        <p>Dr. Juanito</p>
                        <hr />
                        <a href="./curso.html">IR AL CURSO</a>
                    </div>
                </div>
            </div>
        </article>
    </div>
    <footer>
        <p>&copy; 2025 Maria Gomez, Johan Monsalve y Stiven Martinez. Todos los derechos reservados.</p>
    </footer>

</body>
<script src="./script/script.js"></script>
</html>