<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos</title>
    <link rel="stylesheet" href="./style/cursos.css">
    <link rel="shortcut icon" href="./media/perfil.png" type="image/x-icon">
</head>

<body>
    <header>
        <img class="logo" src="./media/logito.png" alt="logito">
        <div class="barra">
            <a href="./inicio.html">Inicio</a>
            <a href="./curso.html">Cursos</a>
            <a href="./tareas.html">Tareas y Evaluaciones</a>
            <a href="./progreso.html">Progreso Cursos</a>
        </div>
        <div class="perfil" onclick="mostrarPerfil()">
            <p class="nombreUser">Stiven Martinez Villamizar</p>
            <img class="profile" src="./media/perfil.png" alt="iconoPerfil">
        </div>
    </header>
    <div class="contenido">
        <article class="divCursos">
            <div class="tituloCurso">
                <h1>Mis Cursos</h1>
                <P>Creacion de videojuegos</P>
                <hr/>
            </div>
            <div class="cuadrosCursos">
                <div class="cardCursos">
                    <div class="cuadrito">
                        <h4>Desarrollo de Apps</h4>
                        <p>Dr. Juanito</p>
                        <hr />
                        <p class="progreso">50% Progreso</p>
                        <a href="./explorarCurso.html">Explorar Curso</a>
                    </div>
                </div>
                <div class="cardCursos">
                    <div class="cuadrito">
                        <h4>Desarrollo de Apps</h4>
                        <p>Dr. Juanito</p>
                        <hr />
                        <p class="progreso">50% Progreso</p>
                        <a href="./explorarCurso.html">Explorar Curso</a>
                    </div>
                </div>
                <div class="cardCursos">
                    <div class="cuadrito">
                        <h4>Desarrollo de Apps</h4>
                        <p>Dr. Juanito</p>
                        <hr />
                        <p class="progreso">50% Progreso</p>
                        <a href="./explorarCurso.html">Explorar Curso</a>
                    </div>
                </div>
            </div>
        </article>
    </div>
    <footer>
        <p>&copy; 2025 Maria Gomez, Johan Monsalve y Stiven Martinez. Todos los derechos reservados.</p>
    </footer>
    <div class="modal_general">
    </div>
</body>
<script src="./script/perfil.js"></script>

</html>