<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style/explorarCurso.css">
</head>

<body>
    <header>
        <img class="logo" src="./media/logito.png" alt="logito">
        <div class="barra">
            <a href="./inicio.html">Inicio</a>
            <a href="./curso.html">Cursos</a>
            <a href="./tareas.html">Tareas y Evaluaciones</a>
            <a href="./progreso.html">Progreso Cursos</a>
        </div>
        <div class="perfil" onclick="mostrarPerfil()">
            <p class="nombreUser">Stiven Martinez Villamizar</p>
            <img class="profile" src="./media/perfil.png" alt="iconoPerfil">
        </div>
    </header>
    <div class="cursoC">
        <div class="titulo">
            <div class="nombreC">Unity</div>
            <div class="docente">
                <img src="" alt="">
                <p>Juan Diego Sánchez</p>
            </div>
        </div>
        <div class="variosM">
            <div class="modulo">
                <div class="moduloTitulo1">MÓDULO 1</div>
                <div class="moduloTitulo2">Introducción al curso</div>
                <div class="moduloTitulo2">
                    <p> • Descripción general y objetivos del curso</p>
                    <p> • Instalación y configuración del entorno de desarrollo</p>
                    <p> • Componentes de la interfaz Unity</p>
                    <p> • Creación del proyecto</p>
                </div>
            </div>
            <div class="modulo">
                <div class="moduloTitulo1">MÓDULO 1</div>
                <div class="moduloTitulo2">Introducción al curso</div>
                <div class="moduloTitulo2">
                    <p> • Descripción general y objetivos del curso</p>
                    <p> • Instalación y configuración del entorno de desarrollo</p>
                    <p> • Componentes de la interfaz Unity</p>
                    <p> • Creación del proyecto</p>
                </div>
            </div>
            <div class="modulo">
                <div class="moduloTitulo1">MÓDULO 1</div>
                <div class="moduloTitulo2">Introducción al curso</div>
                <div class="moduloTitulo2">
                    <p> • Descripción general y objetivos del curso</p>
                    <p> • Instalación y configuración del entorno de desarrollo</p>
                    <p> • Componentes de la interfaz Unity</p>
                    <p> • Creación del proyecto</p>
                </div>
            </div>
        </div>
        <div class="todosModulos">
            <div class="moduloSelec">
                <h2>MÓDULO 2</h2>
                <h3>UNITY</h3>
                <p>Unity es un motor de desarrollo de videojuegos y aplicaciones 3D/2D, conocido por su versatilidad y
                    facilidad de uso. Permite crear juegos y experiencias interactivas para múltiples plataformas, como
                    PC, consolas, móviles, web, y realidad virtual. Su entorno de desarrollo intuitivo y su lenguaje de
                    programación, junto con un amplio conjunto de herramientas visuales para diseño de niveles,
                    animaciones, física, lo hacen popular entre desarrolladores independientes y grandes estudios.
                    Ofrece una amplia gama de herramientas para crear juegos de cualquier tamaño y complejidad.</p>
                <h3>¿Qué incluye?</h3>
                <p>Editor Visual: Interfaz intuitiva para diseñar escenas, niveles y objetos en 2D y 3D.
                    Sistema de Materiales: Soporte para gráficos con calidad de pipeline como URP (Universal Render
                    Pipeline) y HDRP (High Definition Render Pipeline).
                    Sistema de Física: Herramientas para 2D y 3D, incluyendo colisiones y simulaciones con PhysX para 3D
                    y Box2D para 2D.
                    Scripting en C#: Programación flexible para lógica de juego y comportamientos personalizados.
                    Herramientas de Animación: Sistema de animación para personajes y objetos, con soporte para
                    animaciones por keyframes o rigging.
                    Multiplataforma: Publicación en PC, consolas (PlayStation, Xbox, Nintendo Switch), dispositivos
                    móviles (iOS, Android), web y VR/AR.
                    Asset Store: Mercado integrado con componentes como modelos 3D, texturas, scripts y sistemas de
                    sonido completos.
                    Sistemas de Partículas y Efectos Visuales: Creación de efectos como fuego, humo y explosiones.
                    Herramientas de Audio: Integración de audio espacial y sistemas de mezcla de sonido.
                    Unity Hub: Gestor para administrar proyectos, versiones y licencias.</p>
            </div>
        </div>
    </div>
    <footer>
        <p>&copy; 2025 María Gómez, Johan Monsalve y Stiven Martínez. Todos los derechos reservados.</p>
    </footer>
    <div class="modal_general">
    </div>
</body>
<script src="./script/perfil.js"></script>

</html>