<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="./style/inicio.css">
    <link rel="shortcut icon" href="./media/perfil.png" type="image/x-icon">
</head>

<body>
    <header>
        <img class="logo" src="./media/logito.png" alt="logito">
        <div class="barra">
            <a href="./inicio.html">Inicio</a>
            <a href="./curso.html">Cursos</a>
            <a href="./tareas.html">Tareas y Evaluaciones</a>
            <a href="./progreso.html">Progreso Cursos</a>
        </div>
        <div class="perfil" onclick="mostrarPerfil()">
            <p class="nombreUser">Stiven Martinez Villamizar</p>
            <img class="profile" src="./media/perfil.png" alt="iconoPerfil">
        </div>
    </header>

    <div class="contenido">

        <div class="porcentajes">
            <article class="estadisticasPrincipales">
                <h1 class="tituloPrincipal">INICIO</h1>
                <div class="cuadros">
                    <div class="card">
                        <h3>Cursos</h3>
                        <p>2</p>
                    </div>
                    <div class="card">
                        <h3>Nota apreciativa</h3>
                        <p>70%</p>
                    </div>
                </div>
            </article>
        </div>

        <div class="exploCurso">
            <a href="./curso.html">Ver mis Cursos</a>
        </div>
        
        <div class="cursos">
            <h1>Mis Cursos</h1>
            <div class="cuadrosCursos">
                <div class="cardCursos">
                    <div class="cuadrito">
                        <img src="./media/image.png" alt="img.png">
                        <h4>Desarrollo de Apps</h4>
                        <p>Dr. Juanito</p>
                        <hr />
                        <h5 class="progreso">50% Progreso</h5>
                        <a href="./explorarCurso.html">Explorar Curso</a>
                    </div>
                </div>
                <div class="cardCursos">
                    <div class="cuadrito">
                        <img src="./media/image.png" alt="img.png">
                        <div class="inside">
                            <h4>Desarrollo de Apps</h4>
                            <p>Dr. Juanito</p>
                            <hr />
                            <h5 class="progreso">50% Progreso</h5>
                            <a href="./explorarCurso.html">Explorar Curso</a>
                        </div>
                    </div>
                </div>
                <div class="cardCursos">
                    <div class="cuadrito">
                        <img src="./media/image.png" alt="img.png">
                        <h4>Desarrollo de Apps</h4>
                        <p>Dr. Juanito</p>
                        <hr />
                        <h5 class="progreso">50% Progreso</h5>
                        <a href="./explorarCurso.html">Explorar Curso</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="Notificaciones">
            <h1>Mensajes de los estudiantes</h1>
            <h4>Notificaciones Recientes</h4>
            <div class="Mensajes">
                <div class="msg">
                    <p class="tarea">Profesor revisar el trabajo que subi</p>
                    <p class="tmp">hace 2 horas</p>
                </div>
                <div class="msg">
                    <p class="tarea">Profesor revisar el trabajo que subi</p>
                    <p class="tmp">hace 2 horas</p>
                </div>
                <div class="msg">
                    <p class="tarea">Profesor revisar el trabajo que subi</p>
                    <p class="tmp">hace 2 horas</p>
                </div>
                <div class="msg">
                    <p class="tarea">Profesor revisar el trabajo que subi
                    <p class="tmp">hace 2 horas</p>
                </div>
            </div>
            <a href="">Enviar notificacion general</a>
        </div>

    </div>

    <div id="modalMensajeDocente" class="modal">
        <div class="modalContenido">
            <span class="cerrarModal">&times;</span>
            <h2>Añadir mensaje:</h2>
            <textarea id="textoMensaje" placeholder="Escribe tu mensaje aquí"></textarea>
            <button id="btnEnviarMensaje">Enviar a docente</button>
        </div>
    </div>

    <div id="modalExito" class="modalExito">
        <div class="modalContenidoExito">
            <h2>ENVIADO EXITOSAMENTE</h2>
            <button id="btnRegresar">Regresar</button>
        </div>
    </div>

    <footer>
        <p>&copy; 2025 Maria Gomez, Johan Monsalve y Stiven Martinez. Todos los derechos reservados.</p>
    </footer>
    <div class="modal_general">
    </div>
</body>
<script src="./script/script.js"></script>
<script src="./script/perfil.js"></script>

</html>