<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calificaciones</title>
    <link rel="stylesheet" href="../../views/estudiante/style/calificaciones.css">
    <link rel="shortcut icon" href="./media/perfil.png" type="image/x-icon">
</head>

<body>
    <header>
        <img class="logo" src="./media/logito.png" alt="logito">
        <nav>
            <a href="./inicio.html">Inicio</a>
            <a href="./curso.html">Cursos</a>
            <a href="./tareas.html">Tareas y Evaluaciones</a>
            <a href="./progreso.html">Progreso Cursos</a>
        </nav>
        <div class="perfil">
            <img class="profile" src="./media/sol.png" alt="modos">
            <p>Stiven Martinez Villamizar</p>
            <img class="profile" src="./media/perfil.png" alt="iconoPerfil">
        </div>
    </header>
    <div class="principal">
        <div class="top">
            <h1>CALIFICACIONES</h1>
            <a href="./progreso.html"><button class="regresar">Regresar</button></a>
        </div>
        <div class="texto1">
            <p> ▲ Los cursos deben tener un porcentaje superior al 59% para la aprobación.</p>
        </div>
        <div class="tabla">
            <table>
                <tr>
                    <th>Módulo</th>
                    <th>Tarea</th>
                    <th>Nota</th>
                </tr>
                <tr>
                    <td>||</td>
                    <td>Actividad de realiza tu primer sitio web</td>
                    <td>89</td>
                </tr>
                <tr>
                    <td>|</td>
                    <td>Evaluación de Unity</td>
                    <td>50</td>
                </tr>
            </table>
        </div>
    </div>
    <footer>
        <p>&copy; 2025 Maria Gomez, Johan Monsalve y Stiven Martinez. Todos los derechos reservados.</p>
    </footer>
</body>

</html>