<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calificaciones</title>
    <link rel="stylesheet" href="../../views/estudiante/style/calificaciones.css">
</head>

<body>
    <div class="principal">
        <div class="top">
            <h1>CALIFICACIONES</h1>
            <button class="regresar">Regresar</button>
        </div>
        <div class="texto1">
            <p> ▲ Los cursos deben tener un porcentaje superior al 59% para la aprobación.</p>
        </div>
        <div class="tabla">
            <table>
                <tr>
                    <th>Módulo</th>
                    <th>Tarea</th>
                    <th>Nota</th>
                </tr>
                <tr>
                    <td>||</td>
                    <td>Actividad de realiza tu primer sitio web</td>
                    <td>89</td>
                </tr>
                <tr>
                    <td>|</td>
                    <td>Evaluación de Unity</td>
                    <td>50</td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>