<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style/explorarCurso.css">
    <link rel="shortcut icon" href="./media/perfil.png" type="image/x-icon">
</head>

<body>
    <header>
        <img class="logo" src="./media/logito.png" alt="logito">
        <div class="barra">
            <a href="./inicio.html">Inicio</a>
            <a href="./curso.html">Cursos</a>
            <a href="./tareas.html">Tareas y Evaluaciones</a>
            <a href="./progreso.html">Progreso Cursos</a>
        </div>
        <div class="perfil" onclick="mostrarPerfil()">
            <p class="nombreUser">Stiven Martinez Villamizar</p>
            <img class="profile" src="./media/perfil.png" alt="iconoPerfil">
        </div>
    </header>
    <div class="cursoC">
        <div class="titulo">
            <div class="nombreC">JAVASCRIPT</div>

            <div class="docente">
                <img src="" alt="">
                <p>PROFESOR</p>
            </div>
        </div>

        <div class="mod">
            <div class="mod1">
                <h1>DESCRIPCION DEL CURSO</h1>
                <P>Crea juegos 3D inmersivos con Unity. Aprende programación en C#, física de juegos y flujos de trabajo
                    de desarrollo profesional.</P>
            </div>
            <div class="mod2"><img src="../../Media/ojo.png" alt=""></div>
        </div>

        <div class="mod">
            <div class="mod1">
                <h1>Prerrequisitos</h1>
                <P>Conocimientos básicos de programación en cualquier lenguaje.
                    La comprensión de la geometría 3D es útil pero no obligatoria.</P>
            </div>
            <div class="mod2"><img src="../../Media/tabla.png" alt=""></div>
        </div>


        <div class="mod">
            <div class="mod1">
                <h1>Lo que aprenderás</h1>
                <P> • Crea juegos 3D completos <br>
                    • Dominar la programación en C# <br>
                    • Implementar la física del juego <br>
                    • Crear sistemas de interfaz de usuario atractivos <br>
                    • optimizar el rendimiento del juego.</P>
            </div>
            <div class="mod2"><img src="../../Media/libro.png" alt=""></div>
        </div>

        <div class="variosM">
            <div class="modulo">
                <div class="moduloTitulo1">Temas</div>
                <div class="moduloTitulo2">Introducción al curso</div>
                <div class="moduloTitulo2">
                    <p> • Descripción general y objetivos del curso</p>
                    <p> • Configuración de su entorno de desarrollo</p>
                    <p> • Comprender la estructura del curso</p>
                </div>
            </div>
            <div class="modulo">
                <div class="moduloTitulo1">Temas</div>
                <div class="moduloTitulo2">Introducción al curso</div>
                <div class="moduloTitulo2">
                    <p> • Descripción general y objetivos del curso</p>
                    <p> • Configuración de su entorno de desarrollo</p>
                    <p> • Comprender la estructura del curso</p>
                </div>
            </div>
            <div class="modulo">
                <div class="moduloTitulo1">Temas</div>
                <div class="moduloTitulo2">Introducción al curso</div>
                <div class="moduloTitulo2">
                    <p> • Descripción general y objetivos del curso</p>
                    <p> • Configuración de su entorno de desarrollo</p>
                    <p> • Comprender la estructura del curso</p>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>&copy; 2025 Maria Gomez, Johan Monsalve y Stiven Martinez. Todos los derechos reservados.</p>
    </footer>
    <div class="modal_general">

    </div>
</body>
<script src="./script/script.js"></script>


</html>