<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style/inicio.css">
</head>

<body>
    <header>
        <img class="logo" src="./media/logito.png" alt="logito">
        <nav>
            <a href="./inicio.html">Incio</a>
            <a href="./curso.html">Cursos</a>
            <a href="./tareas.html">Tareas y Evaluaciones</a>
            <a href="./progreso.html">Progeso Cursos</a>
        </nav>
        <div class="perfil">
            <img class="profile" src="./media/sol.png" alt="modos">
            <p>Stiven Martinez Villamizar</p>
            <img class="profile" src="./media/perfil.png" alt="iconoPerfil">
        </div>
    </header>
    <div class="contenido">
        <article class="estadisticasPrincipales">
            <h1>INICIO</h1>
            <div class="cuadros">
                <div class="card">
                    <h3>Cursos Inscritos</h3>
                    <p>5</p>
                </div>
                <div class="card">
                    <h3>Trabajos Pendientes</h3>
                    <p>2</p>
                </div>
                <div class="card">
                    <h3>Nota Global</h3>
                    <p>62</p>
                </div>
            </div>
        </article>
        <article class="divCursos">
            <h1>MIS CURSOS</h1>
            <a href="./curso.html">Explorar Curso</a>
            <div class="cuadrosCursos">
                <div class="cardCursos">
                    <img src="" alt="">
                    <h4>Desarrollo de Apps</h4>
                    <p>Dr. Juanito</p>
                    <hr />
                    <progreso>50% Progreso</progreso>
                    <a href="./curso.html">Explorar Curso</a>
                </div>
                <div class="cardCursos">
                    <img src="" alt="">
                    <h4>Desarrollo de Apps</h4>
                    <p>Dr. Juanito</p>
                    <hr />
                    <progreso>50% Progreso</progreso>
                    <a href="./curso.html">Explorar Curso</a>
                </div>
                <div class="cardCursos">
                    <img src="" alt="">
                    <h4>Desarrollo de Apps</h4>
                    <p>Dr. Juanito</p>
                    <hr />
                    <progreso>50% Progreso</progreso>
                    <a href="./curso.html">Explorar Curso</a>
                </div>
            </div>
        </article>
        <article class="Notificaciones">
            <h1>Mensajes Docente</h1>
            <h4>Notificaciones Recientes</h4>
            <div class="Mensajes">
                <div class="msg">
                    <p>📚Terminar Trabajo propuesto del dia de ayer </p>
                    <p class="tmp">2 horas</p>
                </div>
                <div class="msg">
                    <p>📚Terminar Trabajo propuesto del dia de ayer </p>
                    <p class="tmp">2 horas</p>
                </div>
                <div class="msg">
                    <p>📚Terminar Trabajo propuesto del dia de ayer </p>
                    <p class="tmp">2 horas</p>
                </div>
                <div class="msg">
                    <p>📚Terminar Trabajo propuesto del dia de ayer </p>
                    <p class="tmp">2 horas</p>
                </div>
            </div>
        </article>
        <a href="">Enviar Mensaje a Docente</a>
    </div>
    <footer>
        <p>&copy; 2025 Maria Alejandra,Stiven Martinez y Johan Monsalve. Todos los derechos reservados.</p>
    </footer>
</body>
<script src="./script/script.js"></script>

</html>