<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="./style/inicio.css">
    <link rel="shortcut icon" href="./media/perfil.png" type="image/x-icon">
</head>

<body>
    <header>
        <img class="logo" src="./media/logito.png" alt="logito">
        <nav>
            <a href="./inicio.html">Inicio</a>
            <a href="./curso.html">Cursos</a>
            <a href="./tareas.html">Tareas y Evaluaciones</a>
            <a href="./progreso.html">Progreso Cursos</a>
        </nav>
        <div class="perfil">
            <img class="profile" src="./media/sol.png" alt="modos">
            <p>Stiven Martinez Villamizar</p>
            <img class="profile" src="./media/perfil.png" alt="iconoPerfil">
        </div>
    </header>
    <div class="contenido">
        <article class="estadisticasPrincipales">
            <h1>INICIO</h1>
            <div class="cuadros">
                <div class="card">
                    <h3>Cursos Inscritos</h3>
                    <p>2</p>
                </div>
                <div class="card">
                    <h3>Trabajos Pendientes</h3>
                    <p>2</p>
                </div>
                <div class="card">
                    <h3>Nota Global</h3>
                    <p>62</p>
                </div>
            </div>
        </article>
        <article class="divCursos">
            <h1>Mis Cursos</h1>
            <div class="cuadrosCursos">
                <div class="cardCursos">
                    <img src="./media/image.png" alt="">
                    <h4>Desarrollo de Apps</h4>
                    <p>Dr. Juanito</p>
                    <hr />
                    <p class="progreso">50% Progreso</p>
                    <a href="./curso.html">Explorar Curso</a>
                </div>
                <div class="cardCursos">
                    <img src="./media/image.png" alt="">
                    <h4>Desarrollo de Videojuegos</h4>
                    <p>Dr. Juanito</p>
                    <hr />
                    <p class="progreso">20% Progreso</p>
                    <a href="./curso.html">Explorar Curso</a>
                </div>
                <div class="cardCursos">
                    <img src="./media/image.png" alt="">
                    <h4>Desarrollo de sitio web</h4>
                    <p>Dr. Juanito</p>
                    <hr />
                    <p class="progreso">42% Progreso</p>
                    <a href="./curso.html">Explorar Curso</a>
                </div>
            </div>
        </article>
        <article class="Notificaciones">
            <h1>Mensajes Docentes</h1>
            <h4>Notificaciones Recientes</h4>
            <div class="Mensajes">
                <div class="msg">
                    <p>Terminar Trabajo propuesto del dia de ayer</p>
                    <p class="tmp">hace 2 horas</p>
                </div>
                <div class="msg">
                    <p>Terminar Trabajo propuesto del dia de ayer</p>
                    <p class="tmp">hace 2 horas</p>
                </div>
                <div class="msg">
                    <p>Terminar Trabajo propuesto del dia de ayer</p>
                    <p class="tmp">hace 2 horas</p>
                </div>
                <div class="msg">
                    <p>Terminar Trabajo propuesto del dia de ayer y mensaje</p>
                    <p class="tmp">hace 2 horas</p>
                </div>
            </div>
            <a href="">Enviar mensaje a docente</a>
        </article>
    </div>
    <footer>
        <p>&copy; 2025 Johan Monsalve y Stiven Martinez. Todos los derechos reservados.</p>
    </footer>
</body>
<script src="./script/script.js"></script>

</html>