<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style/progreso.css">
</head>

<body>
    <header>
        <img class="logo" src="./media/logito.png" alt="logito">
        <nav>
            <a href="./inicio.html">Inicio</a>
            <a href="./curso.html">Cursos</a>
            <a href="./tareas.html">Tareas y Evaluaciones</a>
            <a href="./progreso.html">Progreso Cursos</a>
        </nav>
        <div class="perfil">
            <img class="profile" src="./media/sol.png" alt="modos">
            <p>Stiven Martinez Villamizar</p>
            <img class="profile" src="./media/perfil.png" alt="iconoPerfil">
        </div>
    </header>

    <div class="container1">
        <br>
        <br>
        <div class="titulo">
            <h2>Progreso Cursos</h2>
        </div>
        <br>

        <div class="subtitulo">
            <p>Cursos de programacion</p>
        </div>

        <div class="advertencia">
            <img src="./media/advertencia.png" class="icono1">
        </div>
        <div class="parrafo">
            <p>Los cursos deben tener un porcentaje superior al 59% para la aprovacion. </p>
        </div>
    </div>
    <br>
    <br>
    <hr>
    <br>
    <br>
    <div class="container2">
        <div class="cuadro1">
            <div class="tituloCuadro1">
                <h1>Desarrollo de Apps</h1>
            </div>
            <br>
            <br>
            <svg class="porcentaje">
                <circle class="circulo1" r="1.5vw" cx="2vw" cy="2vw" pathlength="30" />
            </svg>
            <div class="porcentaje1">
                <h1>80%</h1>
            </div>
        </div>
        <div class="boton1">
            <a href="./explorarCurso.html"><button>Explorar Curso</button></a>
        </div>

        <div class="boton2">
            <a href="./calificaciones.html"><button>Ver Notas</button></a>
        </div>

    </div>

    </div>


    <div class="container3">
        <div class="cuadro2">
            <div class="tituloCuadro2">
                <h1>Desarrollo de VideoJuegos </h1>
            </div>
            <br>
            <br>
            <svg class="porcentajeC2">
                <circle class="circulo2" r="1.5vw" cx="2vw" cy="2vw" pathlength="25" />
            </svg>
            <div class="porcentajeN2">
                <h1>94%</h1>
            </div>
        </div>
        <div class="boton1C">
            <a href="./explorarCurso.html"><button>Explorar Curso</button></a>
        </div>

        <div class="boton2C">
            <a href="./calificaciones.html"><button>Ver Notas</button></a>
        </div>

    </div>
    </div>
    </div>

    <div class="container4">
        <div class="cuadro3">
            <div class="tituloCuadro3">
                <h1>Desarrollo de Sitio Web</h1>
            </div>
            <br>
            <br>
            <svg class="porcentajeC3">
                <circle class="circulo3" r="1.5vw" cx="2vw" cy="2vw" pathlength="28" />
            </svg>
            <div class="porcentajeN3">
                <h1>90%</h1>
            </div>
        </div>
        <div class="boton1E">
            <a href="./explorarCurso.html"><button>Explorar Curso</button></a>
        </div>

        <div class="boton2E">
            <a href="./calificaciones.html"><button>Ver Notas</button></a>
        </div>

    </div>
    </div>
    <footer>
        <p>&copy; 2025 Maria Gomez, Johan Monsalve y Stiven Martinez. Todos los derechos reservados.</p>
    </footer>
</body>
<script src="./script/script.js"></script>

</html>