<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../estudiante/style/tareas.css">
</head>

<body>
    <!--
    <header>
        <div>
            <h1>LMS PORTAL</h1>
        </div>
        <div>
            <h2>Inicio</h2>
            <h2>Cursos</h2>
            <h2>Tareas y Evaluaciones</h2>
            <h2>Progreso Cursos</h2>
        </div>
        <div>
            <img src="../../Media/sol.png" alt="">
            <h2>stiven martinez villamizar</h2>
            <img src="../../Media/usericon.png" alt="">
        </div>
    </header>
    -->
    <div class="mitad">
        <div class="titulo1">
            <h1>Tus Tareas</h1>
        </div>
        <div class="completa">
            <p>❗</p>
            <p class="s">Completar las actividades del curso</p>
        </div>

        <div class="botonesTareas">
            <div><img class="monitor" src="../../Media/monitor.png" alt=""></div>
            <div><button class="onButton">Todo</button></div>
            <div><button class="onButton">En curso</button></div>
            <div><button class="onButton">Finalizado</button></div>
        </div>

        <div class="tareas">
            <div class="tarea-card">
                <div class="fecha-entrega">
                    📅 Fecha de entrega: 14 de marzo de 2024
                </div>
                <div class="estadoTarea">
                    ⚠️ Pendiente
                </div>
                <div class="nombreTarea">PROYECTO DE APLICACIÓN DE ROPA</div>
                <div class="descriTarea">
                    Construye una plataforma completa de comercio electrónico con React, Node.js y MongoDB. Implementa
                    la autenticación de usuarios, la gestión de productos, el carrito de compras y el procesamiento de
                    pagos.
                </div>
                <div class="entregaTarea">
                    <a href="">Comenzar</a>
                </div>
            </div>
    </div>
</body>
<script src="./script/script.js"></script>

</html>