@font-face {
    font-family: tittles;
    src: url(./../Fonts/carter-one/CarterOne.ttf);
}

@font-face {
    font-family: numeros;
    src: url(./../Fonts/digital-7/digital-7.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #EDEDED;
}

/*Inicio estilo header*/
header{
    display: flex;
    flex-direction: row;
    background-color: #54A8D2;
    gap: 3vw;
    padding: 0vw 2vw;
    justify-content: space-between;
}
.logo{
    width: 15vw;
    height: 3vw;
    margin-top: 0.5vw;
}
.barra{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2vw;
    margin: 1vw 0;
}
.barra a{
    font-size: 1.5vw;
    text-decoration: none;
    color: black;  
    text-wrap: nowrap;  
}
.perfil{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2vw;
}
.nombreUser{
    font-size: 1vw;
    text-wrap: nowrap;
    margin-top: 1.5vw;
}
.profile{
    width: 3vw;
    height: 3vw;
    margin: auto;
}

/*Fin estilo header*/


.container1{
    display: grid;
    position: relative;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto   auto;
    width: 100vw;
    height: 100vh;
    margin-left: 1vi;
    margin-top: 2vi;
    flex-direction: row;
    gap: 60px;
   
}

.cuadro1 {
    display: flex;
    position: relative;
    background-color: white;
    width: 30vw;
    height: 40vh;
    border-radius: 3vi;
    flex-direction: column;
    align-items: center;
    
  
}

.EstudiantesCreados1 p{
    position: relative;
    top: 2vi;
    font-size: 2vi;
}

.botonEstudiantes button{
position: relative;
top: 5vi;
background-color:#54A8D2 ;
border-color: #54A8D2;
height: 6vh;
width: 10vw;
cursor: pointer;
}

.cuadro2 {
    display: flex;
    position: relative;
    background-color: white;
    width: 30vw;
    height: 40vh;
    border-radius: 3vi;
    flex-direction: column;
    align-items: center;
    
}

.EstudiantesCreados{
    position: relative;
    top: 5vi;
    font-size: 2vi;
}

.botonDocente button{
position: relative;
top: 8vi;
background-color:#54A8D2 ;
border-color: #54A8D2;
height: 6vh;
width: 10vw;
cursor: pointer;
}

.cuadro3 {
    display: flex;
    position: relative;
    background-color: white;
    width: 30vw;
    height: 40vh;
    border-radius: 3vi;
    flex-direction: column;
    align-items: center;
    
}

.EstudiantesCreados{
    position: relative;
    top: 5vi;
    font-size: 2vi;
}

.botonCursos button{
position: relative;
top: 8vi;
background-color:#54A8D2 ;
border-color: #54A8D2;
height: 6vh;
width: 10vw;
cursor: pointer;
}


.cuadro4 {
    display: flex;
    position: relative;
    background-color: white;
    width: 30vw;
    height: 40vh;
    border-radius: 3vi;
    flex-direction: column;
    align-items: center;
  

}

.EstudiantesCreados4{
    position: relative;
    top: 2vi;
    font-size: 2vi;
}

.botonAñadirEstudiantes button{
position: relative;
top: 5vi;
background-color:#54A8D2 ;
border-color: #54A8D2;
height: 6vh;
width: 10vw;
cursor: pointer;
}

.cuadro5 {
    display: flex;
    position: relative;
    background-color: white;
    width: 30vw;
    height: 40vh;
    border-radius: 3vi;
    flex-direction: column;
    align-items: center;
    

}

.cuposDisponibles5{
    position: relative;
    top: 2vi;
    font-size: 2vi;
   
}

.botonAñadirDocente button{
position: relative;
top: 5vi;
background-color:#54A8D2 ;
border-color: #54A8D2;
height: 6vh;
width: 10vw;
cursor: pointer;
}


.cuadro6 {
    display: flex;
    position: relative;
    background-color: white;
    width: 30vw;
    height: 40vh;
    border-radius: 3vi;
    flex-direction: column;
    align-items: center;
    

}

.cuposDisponibles6{
    position: relative;
    top: 2vi;
    font-size: 2vi;
   
}

.botonAñadirModulo button{
position: relative;
top: 5vi;
background-color:#54A8D2 ;
border-color: #54A8D2;
height: 6vh;
width: 10vw;
cursor: pointer;
}


.cuadro7{
    display: flex;
    position: relative;
    background-color: white;
    width: 30vw;
    height: 40vh;
    border-radius: 3vi;
    flex-direction: column;
    align-items: center;
    

}

.cuposDisponibles7{
    position: relative;
    top: 2vi;
    font-size: 2vi;
   
}

.botonAñadirModulo button{
position: relative;
top: 5vi;
background-color:#54A8D2 ;
border-color: #54A8D2;
height: 6vh;
width: 10vw;
cursor: pointer;
}

.cuadro8{
    display: flex;
    position: relative;
    background-color: white;
    width: 30vw;
    height: 40vh;
    border-radius: 3vi;
    flex-direction: column;
    align-items: center;
    

}

.cuposDisponibles8{
    position: relative;
    top: 2vi;
    font-size: 2vi;
   
}

.botonAñadirEstudiante button{
position: relative;
top: 5vi;
background-color:#54A8D2 ;
border-color: #54A8D2;
height: 6vh;
width: 10vw;
cursor: pointer;
}

.cuadro9{
    display: flex;
    position: relative;
    background-color: white;
    width: 30vw;
    height: 40vh;
    border-radius: 3vi;
    flex-direction: column;
    align-items: center;
    

}

.cuposDisponibles9{
    position: relative;
    top: 2vi;
    font-size: 2vi;
   
}

.botonAñadirCurso button{
position: relative;
top: 5vi;
background-color:#54A8D2 ;
border-color: #54A8D2;
height: 6vh;
width: 10vw;
cursor: pointer;
}

.oculto {
  display: none;
}

#menuGestionar, #formEstudiante, #formDocente, #formCurso {
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  width: 60%;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
}




footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1.5vh;
    margin-top: 50vh;
}