* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e8e8e8;
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

/*Inicio estilo header*/
header{
    display: flex;
    flex-direction: row;
    background-color: #54A8D2;
    gap: 3vw;
    padding: 0vw 2vw;
    justify-content: space-between;
}
.logo{
    width: 15vw;
    height: 3vw;
    margin-top: 0.5vw;
}
.barra{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2vw;
    margin: 1vw 0;
}
.barra a{
    font-size: 1.5vw;
    text-decoration: none;
    color: black;  
    text-wrap: nowrap;  
}
.perfil{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2vw;
}
.nombreUser{
    font-size: 1vw;
    text-wrap: nowrap;
    margin-top: 1.5vw;
}
.profile{
    width: 3vw;
    height: 3vw;
    margin: auto;
}
/*Fin estilo header*/

.principal {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 300px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    gap: 1rem;
}

h1 {
    color: #1e88e5;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.regresar {
    background-color: #ffc107;
    border: none;
    padding: 0.6rem 1.5rem;
    border-radius: 25px;
    font-weight: 500;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.regresar:hover {
    background-color: #ffb300;
}

.texto1 {
    margin-bottom: 1.5rem;
}

.texto1 p {
    color: #333;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}


.tabla {
    background-color: transparent;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: transparent;
}

th{
    text-align: left;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    font-size: 0.95rem;
    font-weight: 600;
    color: #000000;

}

td {
    text-align: left;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    font-size: 0.95rem;
    color: #000000;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1.5vh;
    margin-top: 2vh;
}