@font-face {
    font-family: tittles;
    src: url(./../Fonts/carter-one/CarterOne.ttf);
}

@font-face {
    font-family: numeros;
    src: url(./../Fonts/digital-7/digital-7.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #EDEDED;
}

/*Inicio estilo header*/
header{
    display: flex;
    flex-direction: row;
    background-color: #54A8D2;
    gap: 3vw;
    padding: 0vw 2vw;
    justify-content: space-between;
}
.logo{
    width: 15vw;
    height: 3vw;
    margin-top: 0.5vw;
}
.barra{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2vw;
    margin: 1vw 0;
}
.barra a{
    font-size: 1.5vw;
    text-decoration: none;
    color: black;  
    text-wrap: nowrap;  
}
.perfil{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2vw;
}
.nombreUser{
    font-size: 1vw;
    text-wrap: nowrap;
    margin-top: 1.5vw;
}
.profile{
    width: 3vw;
    height: 3vw;
    margin: auto;
}
/*Fin estilo header*/

.contenido {
    max-width: 80vw;
    margin: 2vh auto;
    padding: 0 2vw;
    height: 100vh;
}

h1 {
    font-size: 2.5rem;
    margin-top: 50px;
}

.tituloCurso {
    margin-bottom: 40px;
}

.tituloCurso p{
    font-size: 1.3rem;
    font-weight: 600;
    margin: 10px;
    margin-left: 0;
}

.tituloCurso hr{
    height: 3px;
    background-color: #54A8D2;
    border: none;
    
}

.divCursos .cuadrosCursos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1000px;
}

.divCursos .cardCursos {
    background: url(./../media/images.jpeg)0% 0% no-repeat;
    background-size: cover;
    border-radius: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    flex-wrap: nowrap;
    height: 350px;
    max-width: 300px;
}

.divCursos .cardCursos .cuadrito{
    height: 65%;
    background: white;
    width: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    align-content: center;
    flex-wrap: nowrap;
    padding: 20px;
    justify-content: center;
}

.divCursos .cardCursos .cuadrito h4{
    font-size: 1.5rem;
    font-family: sans-serif;
}

.divCursos .cardCursos .cuadrito p{
    font-size: 1.2rem;
    font-family: sans-serif;
    margin: 2%;
}

.divCursos .cardCursos .cuadrito .progreso{
    color: #239400;
}

.divCursos .cardCursos .cuadrito a{
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
}

hr{
    width: 100%;
}

.cardCursos img {
    width: 100%;
    height: auto;
}

.cardCursos a {
    display: block;
    background: #60C1F2;
    color: #000000;
    padding: 10px;
    text-decoration: none;
    border-radius: 4px;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1.5vh;
}

.modal_general {
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_general img {
    height: 40px;
    margin: 10px;
    display: flex;
    align-items: center;
}

.modal_general.show {
    opacity: 1;
    visibility: visible;
}


.cerrar_modal {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    transition: opacity 0.3s ease;
    padding-right: 1vw;
}

.modal_header {
    width: 100%;
    border-bottom: 1px solid #000;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.indice_header {
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.indice_header p {
    flex-grow: 1;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0;
    color: #000;
}

.perfil2 {
    position: fixed;
    top: 82px;
    right: 0;
    width: 260px;
    height: 200px;
    background: white;
    transition: left 0.5s ease;
    box-shadow: 2px 0 20px black;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
}

.indice_content2{
    padding: 2%;
}

.i2 {
    padding: 0 1vw;
}

.i2 a {
    text-decoration: none;
}

.button3 {
    color:#ffffff;
    background-color: rgb(0, 0, 0);
    border: none;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    display: block;
    margin: 1vw;
    justify-self: center;
    cursor: pointer;
}

.button3:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
}