* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e8e8e8;
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

header {
    background-color: #54A8D2;
    display: flex;
    align-items: center;
    height: 80px;
    padding: 5px 10%;
    justify-content: space-between;
}

.logo {
    height: 75px;
    width: auto;
    cursor: pointer;
    transition: all 0.3s;
}

.profile {
    height: 60px;
    width: auto;
    transition: all 0.3s;
    margin: 15px;
}

header a {
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    padding: 0 40px;
    transition: all 0.2s;
}

.perfil {
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

nav {
    text-align: justify;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}

nav a {
    color: black;
    font-size: 1.2rem;
}

nav a:hover{
    transform: scale(1.2);
}

.principal {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 300px;
}

.top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    gap: 1rem;
}

.top h1{
    margin-right: auto;
}

h1 {
    color: #1e88e5;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.regresar {
    background-color: #ffc107;
    border: none;
    padding: 0.6rem 1.5rem;
    border-radius: 25px;
    font-weight: 500;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.regresar:hover {
    background-color: #ffb300;
}

.texto1 {
    margin-bottom: 1.5rem;
}

.texto1 p {
    color: #333;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}


.tabla {
    background-color: transparent;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: transparent;
}

th{
    text-align: left;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    font-size: 0.95rem;
    font-weight: 600;
    color: #000000;

}

td {
    text-align: left;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    font-size: 0.95rem;
    color: #000000;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modalContenido {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 2px solid #54A8D2;
    border-radius: 8px;
    width: 60%;
    max-width: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cerrarModal {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2rem;
    cursor: pointer;
}

.modalContenido h2 {
    margin-bottom: 20px;
    font-family: tittles;
}

#textoMensaje {
    width: 90%;
    height: 150px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#btnEnviarMensaje {
    background-color: #60C1F2;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2rem;
}

#btnEnviarMensaje:hover {
    background-color: #54A8D2;
}

.modalExito {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modalContenidoExito {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 2px solid #54A8D2;
    border-radius: 8px;
    width: 60%;
    max-width: 500px;
    text-align: center;
    position: relative;
}

.modalContenidoExito h2 {
    margin-bottom: 20px;
    font-family: tittles;
    color: #000;
}





footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1.5vh;
    margin-top: 2vh;
}