<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style/gestionar.css">
</head>

<body>
    <header>
        <img class="logo" src="./media/logito.png" alt="logito">
        <div class="barra">
            <a href="./inicio.html">Inicio</a>
            <a href="./gestionar.html">Gestionar</a>
            <a href="./estudiantes.html">estudiante</a>
            <a href="./docentes.html">Docente</a>
            <a href="./curso.html">Cursos</a>
        </div>
        <div class="perfil">
            <p class="nombreUser">Stiven Martinez Villamizar</p>
            <img class="profile" src="./media/perfil.png" alt="iconoPerfil">
        </div>
    </header>
    <div class="container1">
        <div class="cuadro1">
            <h1>Añadir Estudiantes Nuevos</h1>
            <br>
            <div class="EstudiantesCreados1">
                <p>Estudiantes creados:30</p>
            </div>
            <div class="botonEstudiantes">
                <button>Añadir Estudiantes</button>
            </div>
        </div>
        <div class="cuadro2">
            <h1>Añadir Docente Nuevos</h1>
            <br>
            <div class="EstudiantesCreados">
                <p>Estudiantes creados:30</p>
            </div>
            <div class="botonDocente">
                <button>Añadir Docente</button>
            </div>
        </div>
        <div class="cuadro3">
            <h1>Añadir Cursos Nuevos</h1>
            <br>
            <div class="EstudiantesCreados">
                <p>Estudiantes creados:30</p>
            </div>
            <div class="botonCursos">
                <button>Añadir Cursos</button>
            </div>
        </div>
        <div class="cuadro4">
            <h1>Añadir Estudiantes A Cursos</h1>
            <br>
            <div class="EstudiantesCreados4">
                <p>Cupos disponibles:40</p>
            </div>
            <div class="botonAñadirEstudiantes">
                <button>Añadir Estudiantes A Cursos</button>
            </div>
        </div>
        <div class="cuadro5">
            <h1>Añadir Docente A Cursos</h1>
            <br>
            <div class="cuposDisponibles5">
                <p>Cupos disponibles:40</p>
            </div>
            <div class="botonAñadirDocente">
                <button>Añadir Docente A Cursos</button>
            </div>
        </div>
        <div class="cuadro6">
            <h1>Añadir Modulos A Cursos</h1>
            <br>
            <div class="cuposDisponibles6">
                <p>Cupos disponibles:40</p>
            </div>
            <div class="botonAñadirModulo">
                <button>Añadir Modulo A Cursos</button>
            </div>
        </div>
        <div class="cuadro7">
            <h1>Administrar Estudiantes</h1>
            <br>
            <div class="cuposDisponibles7">
                <p>Cupos disponibles:40</p>
            </div>
            <div class="botonAñadirModulo">
                <a href="./estudiantes.html"><button>Administrar Estudiantes </button></a>
            </div>
        </div>
        <div class="cuadro8">
            <h1>Administrar Docentes</h1>
            <br>
            <div class="cuposDisponibles8">
                <p>Cupos disponibles:40</p>
            </div>
            <div class="botonAñadirEstudiante">
                <a href="./docentes.html"><button>Administrar Docente </button></a>
            </div>
        </div>
        <div class="cuadro9">
            <h1>Administrar Cursos</h1>
            <br>
            <div class="cuposDisponibles9">
                <p>Cupos disponibles:40</p>
            </div>
            <div class="botonAñadirCurso">
                <a href="./cursos.html"><button>Administrar Cursos</button></a>
            </div>
        </div>
        <section id="gestionar">
            <div id="menuGestionar">
                <div class="card" onclick="mostrarSeccion('formEstudiante')">
                    <h3>Añadir Estudiante</h3>
                    <button>Añadir Estudiante</button>
                </div>
                <div class="card" onclick="mostrarSeccion('formDocente')">
                    <h3>Añadir Docente</h3>
                    <button>Añadir Docente</button>
                </div>
                <div class="card" onclick="mostrarSeccion('formCurso')">
                    <h3>Añadir Curso</h3>
                    <button>Añadir Curso</button>
                </div>
            </div>
            <div id="formEstudiante" class="oculto">
                <h2>AÑADIR ESTUDIANTE NUEVO</h2>
                <form>
                    <label>Nombre:</label>
                    <input type="text"><br>
                    <label>Contraseña:</label>
                    <input type="password"><br>
                    <label>Estado:</label>
                    <input type="text"><br>
                    <button type="submit">Añadir Estudiante</button>
                </form>
                <button onclick="volverMenu()">⬅ Volver</button>
            </div>
            <div id="formDocente" class="oculto">
                <h2>AÑADIR DOCENTE NUEVO</h2>
                <form>
                    <label>Nombre:</label>
                    <input type="text"><br>
                    <label>Especialidad:</label>
                    <input type="text"><br>
                    <button type="submit">Añadir Docente</button>
                </form>
                <button onclick="volverMenu()">⬅ Volver</button>
            </div>
            <div id="formCurso" class="oculto">
                <h2>AÑADIR CURSO NUEVO</h2>
                <form>
                    <label>Nombre del curso:</label>
                    <input type="text"><br>
                    <label>Descripción:</label>
                    <textarea></textarea><br>
                    <button type="submit">Añadir Curso</button>
                </form>
                <button onclick="volverMenu()">⬅ Volver</button>
            </div>
        </section>
    </div>
    <footer>
        <p>&copy; 2025 Maria Gomez, Johan Monsalve y Stiven Martinez. Todos los derechos reservados.</p>
    </footer>
</body>
<script src="./script/script.js"></script>

</html>