<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style/perfil.css">
</head>
<body>
    
 </head>

    <body>
        <header>
            <img class="logo" src="./media/logito.png" alt="logito">
            <nav>
                <a href="">Incio</a>
                <a href="">Cursos</a>
                <a href="">Tareas y Evaluaciones</a>
                <a href="">Progreso Cursos</a>
            </nav>
            <div class="perfil">
                <img class="profile" src="./media/sol.png" alt="modos">
                <p>Stiven Martinez Villamizar</p>
                <img class="profile" src="./media/perfil.png" alt="iconoPerfil">
            </div>
        </header>
        <br>
        <br>
        <div class="containerCuadro">

            <div class="cuadroColorSuperior">

                <img src="./media/fotoPerfil.png" class="fotoPerfil">
            </div>

            <div class="nombre">
                <h1>Stiven Martinez villamizar</h1>
            </div>

            <div class="rol">
                <p>ADMINISTRADOR</p>
            </div>

            <br>
            <br>
            <br>
            <br>

            <div class="cuadro1">
    <div class="titulo1">
        <h2>Informacion Personal</h2>
    </div>
    <div class="linea1"></div>
    <div class="form-row">
        <div class="form-group">
            <label>Nombre Completo</label>
            <input type="text" placeholder="Digite su nombre">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" placeholder="Digite su correo">
        </div>
        <div class="form-group">
            <label>Telefono</label>
            <input type="tel" placeholder="Digite su telefono">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group">
            <label>Pais</label>
            <input type="text" placeholder="Digite su pais">
        </div>
    </div>
</div>

<div class="cuadro2">
    <div class="titulo2">
        <h2>REDES SOCIALES</h2>
    </div>
   <div class?="redes-sociales">
   
    <a href="https://www.linkedin.com/" target="_blank">
            <img src="./media/linkedin.png" alt="LinkedIn">
        </a>
        <a href="https://www.instagram.com/" target="_blank">
            <img src="./media/instagram.png" alt="Instagram">
        </a>
        <a href="https://wa.me/573000000000" target="_blank">
            <img src="./media/whatsapp.png" alt="WhatsApp">
        </a>
        <a href="https://gmail.com/" target="_blank">
            <img src="./media/gmail.png" alt="Medium">
        </a>


   </div>
    <div class="botones">
        <button class="botonCancelar">Cancelar</button>
        <button class="botonActualizar">Actualizar</button>
    </div>
</div>

       </div>
  
</div>
</div>
<br>
<br>
<div class="botonCerrarSesion">
     <button>Cerrar Sesion</button>
</div>
        <footer>
            <p>&copy; 2025 Maria Gomez, Johan Monsalve y Stiven Martinez. Todos los derechos reservados.</p>
        </footer>


</body>
<script src="./script/script.js"></script>
</html>